@import "reset.css";
@import "materialize.min.css";
@import "miscellaneous.css";

body {
	background: #FAFAFA;
	font-size: 3em;
}
@media only screen and (min-width: 993px) {
 	body {
		font-size: 1em;
	}
	.game {
		margin: 0 auto;
		width: 80%
	}
}

.games-list > *, .answer {
	cursor: pointer;
}
