<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script type="text/javascript" src="js/game.js"></script>
		{% block initPage %}{% endblock %}
	</body>
</html>
{% endautoescape %}
